.details-container {
    display: grid;
    background-color: rgba(63, 81, 181, .9);
    padding: 10px 10px;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.75);
}

.details-title {
  font-size: 1.6em;
  margin: 0;
  margin-left: 25px;
}

.details-info {
  display: flex;
}

.details-info > div, p {
  display: inline;
}

.details-info-data{
  width: 100%;
  font-size: 20px;
  margin-left: 15px;
  margin-top: 5px;
}

.arrow_right {
  -webkit-animation: right .5s linear infinite;
  -moz-animation: right .5s linear infinite;
  animation: right .5s linear infinite;
}

@-moz-keyframes right { 100% { -moz-transform: translate(5px,0); } }
@-webkit-keyframes right { 100% { -webkit-transform: translate(5px,0); } }
@keyframes right { 100% { -webkit-transform: translate(5px,0); transform:translate(5px,0); } }