<div class="container-register">
  <div class="container-register-dark">
    <div class="container-register-windows">
      <div class="register-windows">
        <div class="register-windows-form">
          <h3 class="mat-h3">Sing In</h3>
          <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
              <input matInput placeholder="Enter your email" formControlName="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Enter yout name" formControlName="name" required>
            </mat-form-field>
            <mat-form-field class="password">
              <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <button type="submit" class="submit" mat-raised-button color="primary">Sing In</button>
            <p>You have an account?</p>
            <a class="create-account" routerLink="/login">Login</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
