.navbar {
    width: 100%;
    height: 100px;
    background-color: #cca96c;
    margin-bottom: 1%;
    position: fixed;
    z-index: 10;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
    -webkit-box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.75);
}

.navbar .navbar-image {
    width: 90px;
    height: 90px;
    margin: 0;
    padding-left: 20px;
    transition: 0.2s;
}

.navbar .navbar-image img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.navbar-form {
    margin-top: 20px;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.navbar-form-input {
  width: 100%;
}

.navbar-menu {
    margin-right: 10px;
}