.gnome {
  display: inline-block;
  width: 100%;
  position: relative;
}

.gnome img {
  height: 100%;
  width: 100%;
  min-width: 150px;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.75);
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
}

.gnome-image {
  margin: 10px 10px;
}

.gnome-image img {
  width: 100%;
  vertical-align: top;
}

.gnome-overlay {
  background: rgba(0, 0, 0, .3);
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.gnome-name {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-align: center;
}

.gnome-name-display {
  width: 200px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.gnome:hover .gnome-overlay {
  display: flex;
}

.gnome-info {
  width: 80px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}