.item {
  display: inline-block;
  width: 100%;
  position: relative;
}

.item img {
  height: 100%;
  width: 100%;
  min-width: 150px;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.75);
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
}

.item-image {
  margin: 10px 10px;
}

.item-image img {
  width: 100%;
  vertical-align: top;
}

.item-overlay {
  background: rgba(0, 0, 0, .4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.item:hover .item-overlay {
  display: flex;
}

.item-info {
  width: 80px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}