.grid {
  color: black;
  padding: 32px 2.5%;
  display: grid;
  grid-template-columns: minmax(auto, 100%);
  margin-top: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: 600px 1fr 1fr 1fr 1fr;
  grid-template-areas: "title title title title title"
                       "image age weight height hair_color"
                      "image professions_gnome professions_gnome friends_gnome friends_gnome";
  justify-content: center;
  font-size: 12px;
  text-align: center;
}

.image {
  grid-area: image;
  max-width: 100%;
  width: 95%;
  margin-left: 2.5%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  border-radius: 10px;
}

.title {
  grid-area: title;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  justify-self: center;
}

.age {
  grid-area: age;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}
.weight {
  grid-area: weight;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}
.height {
  grid-area: height;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}
.hair_color {
  grid-area: hair_color;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}
.professions_gnome {
  grid-area: professions_gnome;
}
.friends_gnome {
  grid-area: friends_gnome;
}

@media only screen and (max-width: 1024px) {
  .grid {
    padding: 0;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 600px 1fr 1fr;
    grid-template-areas: "title title title"
                         "image age weight"
                         "image height hair_color"
                         "image professions_gnome friends_gnome";
    justify-content: center;
    font-size: 12px;
    text-align: center;
  }

  .image {
    text-align: center;
    max-width: 100%;
    width: 95%;
    margin-left: 2.5%;
    height: 70vh;
    background-size: contain;
    background-position: top center;
  }

  .title {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 950px) {
  .grid {
    padding: 0;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 170px;
    grid-template-areas: "title title"
                        "image age"
                        "image weight"
                        "image height"
                        "image hair_color"
                        "professions_gnome professions_gnome"
                        "friends_gnome friends_gnome";
    justify-content: center;
    font-size: 12px;
    text-align: center;
  }

  .image {
    max-width: 100%;
    height: 50vh;
    width: 95%;
    margin-left: 2.5%;
    background-size: cover;
  }

  .title {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .grid {
    padding: 0;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title title"
                         "image image"
                         "age weight"
                         "height hair_color"
                         "professions_gnome professions_gnome"
                         "friends_gnome friends_gnome";
    justify-content: center;
    font-size: 12px;
    text-align: center;
    grid-gap: 10px;
  }
  .image {
    max-width: 100%;
    height: 50vh;
    width: 95%;
    margin-left: 2.5%;
    background-size: cover;
  }
  .title {
    margin: 0;
    margin-top: 10px;
  }
}




