.grid {
  color: black;
  padding: 32px 2.5%;
  display: grid;
  grid-template-columns: minmax(auto, 100%);
  margin-top: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: 500px 1fr 1fr 1fr 1fr;
  grid-template-areas: "title title title title title"
  "image age weight height hair_color";
  grid-gap: 10px;
}

.image {
  grid-area: image;
  max-width: 500px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
}

.title {
  grid-area: title;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  justify-self: center;
}

.age {
  grid-area: age;
}

.weight {
  grid-area: weight;
}

.height {
  grid-area: height;
}

.hair_color {
  grid-area: hair_color;
}

@media only screen and (max-width: 480px) {
  .grid-container {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-areas: "title title"
                         "image image"
                         "age weight"
                         "height hair_color";
    grid-gap: 10px;
    justify-content: center;
  }
  .title {
    font-size: 24px;
  }
  .image {
    max-width: 480px;
    height: 50vh;
  }
  .age {
    width: 95%;
    margin-left: 2.5%;
  }

  .weight {
    width: 95%;
    margin-left: 2.5%;
  }

  .height {
    width: 95%;
    margin-left: 2.5%;
  }

  .hair_color {
    width: 95%;
    margin-left: 2.5%;
  }
}