.button-more{
    margin-top: 1%;
    margin-bottom: 3%;
    text-align: center;
}

/* ::ng-deep .mat-icon {
  height: 56px !important;
  width: 56px !important;
  font-size: 56px !important;
} */

.arrow_drop_down {
    -webkit-animation:down 1s linear infinite;
    -moz-animation:down 1s linear infinite;
    animation:down 1s linear infinite;
}

@-moz-keyframes down { 100% { -moz-transform: translate(0,20px); } }
@-webkit-keyframes down { 100% { -webkit-transform: translate(0,20px); } }
@keyframes down { 100% { -webkit-transform: translate(0,20px); transform:translate(0,20px); } }